@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body{
    background: white;
    background: linear-gradient(darkblue, rgb(0,191,255));
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}
html{
    height: auto;
}
/* header */

.header{
    text-align: center;
    background-color: rgb(0, 191, 255);
    border: gold solid 5px;
    padding: 5px 0px;
    margin: 10px 0px;
}
h1{
    margin: 10px 0px;
    font-size: 40px;
    text-shadow: rgb(51,51,51) 5px 5px 10px;
}
/* calculator container */

#calculator{
    width: 419px;
    height: auto;
    margin: 30px auto;
    padding: 10px;
    border-radius: 10px;
    border: gold solid 5px;
    background-color: rgb(0, 102, 153);
    padding-top: 20px;
    box-shadow: rgb(51,51,51) 10px 10px 20px;;
}

/* dipslay, clear, and delete */

#display{
    border: solid 3px darkblue;
    height: 45px;
    padding: 5px;
    text-align: right;
    float: none;
    margin: 0 auto;
    background-color: rgb(0, 191, 255);
    border-radius: 7px;
    transition: cubic-bezier();
}

#clear, #delete{
    height: 50px;
    border-radius: 10px;
    background-color: black;
    text-align: center;
    margin: 20px 10px 7px 10px;
    color: gold;
}

#clear:hover, #delete:hover{
    background-color: white;
    color: darkblue; 
}

#clearDelete{
    width: 100%;
}

/* number rows */

button{
    width: 80px;
    height: 80px;
    margin: 10px;
    border-radius: 10px;
    border: gold solid 2px;
    background-color: darkblue;
    font-size: 23px;
    color: gold;
}

button:hover{
    background-color: rgb(0, 191, 255);
    color: darkblue;
    transition: background-color 0.25s ease-in 0.1s,
        color 0.25s ease-in 0.1s;
}

.operator{
    background-color: rgb(0, 191, 255);
    color: darkblue;
}

.operator:hover{
    background-color: darkblue;
    color: gold;
}

#equals{
    background-color: white;
    color: darkblue;
}

#equals:hover{
    background-color: black;
    color: gold;
}